<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Tinder-clone</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="fonts/font-awesome.min.css">
    <link rel="stylesheet" href="fonts/ionicons.min.css">
    <link rel="stylesheet" href="css/-Fixed-Navbar-start-with-transparency-background-BS4-.css">
    <link rel="stylesheet" href="css/Bold-BS4-Footer-Social.css">
    <link rel="stylesheet" href="css/Elegant-Registration-Form.css">
    <link rel="stylesheet" href="css/Login-Box-En.css">
    <link rel="stylesheet" href="css/Quote-Card.css">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <div>
        <header>
            <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white transparency border-bottom border-light" id="transmenu">
                <div class="container"><a class="navbar-brand text-success" href="#header" style="font-size: 40px;">&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="currentColor" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-brand-tinder">
    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
    <path d="M18.918 8.174c2.56 4.982 .501 11.656 -5.38 12.626c-7.702 1.687 -12.84 -7.716 -7.054 -13.229c.309 -.305 1.161 -1.095 1.516 -1.349c0 .528 .27 3.475 1 3.167c3 0 4 -4.222 3.587 -7.389c2.7 1.411 4.987 3.376 6.331 6.174z"></path>
</svg>
tinder</a><button data-toggle="collapse" class="navbar-toggler collapsed" data-target="#navcol-1"><span></span><span></span><span></span></button>
                    <div class="collapse navbar-collapse" id="navcol-1">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item"><a class="nav-link" href="#" style="margin: 0px 15px;"><i class="icon ion-android-globe" style="font-size: 16px;margin-right: 10px;"></i>ENGLISH</a></li>
                            <li class="nav-item"><button class="btn btn-primary" id="btnLogin" type="button" style="color: rgb(255,0,0);background: rgb(255,255,255);padding: 8px 25px;border-radius: 6px;border-width: 0px;" data-toggle="modal" data-target="#exampleModal">LOG IN</button></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="d-flex align-items-center bgimage" style="height: 100vh;">
                <div class="text-center w-100 text-white text-bg">
                    <h1 style="font-size: 90px;margin-bottom: 25px;letter-spacing: 5px;">Swipe Right<i class="fa fa-registered r-icon" style="font-size: 50px;"></i></h1>
                    <h2 class="font-weight-normal"><button class="btn btn-primary" type="button" style="border-radius: 35px;padding-top: 15px;padding-bottom: 15px;padding-right: 70px;padding-left: 70px;background: linear-gradient(45deg, black, rgb(26,26,26) 0%, rgb(28,28,28) 0%, rgb(255,15,87) 0%, rgb(255,94,43) 100%);border-width: 0px;" data-toggle="modal" data-target="#regModal">CREATE ACCOUNT</button><br></h2>
                </div>
            </div>
        </header>
        <section class="py-5"><blockquote class="quote-card">

<p>Your quote here. Edit it however you want and you can change the color by adding red-card, blue-card, green-card or yellow-card to .quotecard (ex. .quote-card.red-card).
</p>

<cite>quaote attribut</cite>            </blockquote><blockquote class="quote-card">

<p>Your quote here. Edit it however you want and you can change the color by adding red-card, blue-card, green-card or yellow-card to .quotecard (ex. .quote-card.red-card).
</p>

<cite>quaote attribut</cite>            </blockquote><blockquote class="quote-card">

<p>Your quote here. Edit it however you want and you can change the color by adding red-card, blue-card, green-card or yellow-card to .quotecard (ex. .quote-card.red-card).
</p>

<cite>quaote attribut</cite>            </blockquote></section>
        <footer id="myFooter">
            <div class="container-fluid">
                <div class="row text-center">
                    <div class="col-12 col-sm-6 col-lg-3">
                        <h5>SAFETY</h5>
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Downloads</a></li>
                            <li><a href="#">Sign up</a></li>
                        </ul>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-3">
                        <h5>LEGAL</h5>
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Downloads</a></li>
                            <li><a href="#">Sign up</a></li>
                        </ul>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-3">
                        <h5>CAREERS</h5>
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Downloads</a></li>
                            <li><a href="#">Sign up</a></li>
                        </ul>
                    </div>
                    <div class="col">
                        <h5>Get started</h5>
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Downloads</a></li>
                            <li><a href="#">Sign up</a></li>
                        </ul>
                    </div>
                </div>
                <div class="row social-networks">
                    <div class="col"><a class="facebook" href="https://facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a><a class="twitter" href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a><a class="google" href="https://plus.google.com/" target="_blank"><i class="fa fa-google-plus"></i></a><a class="linkedin" href="https://linkedin.com/" target="_blank"><i class="fa fa-linkedin"></i></a></div>
                </div>
                <div class="row footer-copyright">
                    <div class="col">
                        <p>© 2018 Copyright Text ~ Designed By&nbsp;<a href="#" target="_blank">MySelf</a></p>
                    </div>
                </div>
            </div>
        </footer>
        <div class="modal fade" id="regModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="banner6 py-5">
                            <!-- Row  -->
                            <div class="row">
                                <div class="container">
                                    <div class="col-lg-12 align-justify-center pr-0 pl-0 contact-form">
                                        <div class="">
                                            <h2 class="mb-3 font-weight-light text-center">Register</h2>
                                            <div class="login-box-seperator"></div>
                                            <h6 class="subtitle font-weight-normal"></h6>
                                            <form class="mt-3" action="/insertUser" enctype="multipart/form-data" method="post">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="form-group">
                                                            <input class="form-control" name="fullname" type="text" placeholder="Full name">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div class="form-group">
                                                            <input class="form-control" name="username" type="email" placeholder="Email address">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div class="form-group">
                                                            <input class="form-control" name="password" type="password" placeholder="Password">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div class="form-group">
                                                            <input class="form-control" type="password" placeholder="Confirm password">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div class="form-group">
                                                            <input class="form-control" name="phone_number" type="number" placeholder="Phone Number">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div class="form-group">
                                                            <span> Avatar: </span><input name="avatar" type="file">
                                                        </div>
                                                    </div>

                                                    <div class="col-lg-12">
                                                        <button type="submit" class="btn btn-md btn-block btn-danger-gradiant text-white border-0"><span> Create Account</span></button>
                                                        <!--  -->
                                                    </div>
                                                </div>
                                            </form>
                                            <div class="row">
                                                <div class="col-lg-12 text-center mt-4">
                                                    <h6 class="font-weight-normal">Signup with Social Accounts</h6>
                                                    <div class="row">
                                                        <div class="col-lg-12 col-md-6">
                                                            <a href="#" class="btn btn-block bg-facebook text-white mt-3">Facebook</a>
                                                        </div>
                                                        <div class="col-lg-12 col-md-6">
                                                            <a href="#" class="btn btn-block bg-twitter text-white mt-3">Twitter</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12 text-center mt-4">
                                                    Already have an account? <a href="#" class="text-danger">Sign In</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="d-flex flex-column justify-content-center" id="login-box">
    <div class="login-box-header">
        <h4 style="color:rgb(139,139,139);margin-bottom:0px;font-weight:400;font-size:27px;">Login</h4>
    </div>
    <div class="login-box-content">
        <div class="fb-login box-shadow"><a class="d-flex flex-row align-items-center social-login-link" href="#"><i class="fa fa-facebook" style="margin-left:0px;padding-right:20px;padding-left:22px;width:56px;"></i>Login with Facebook</a></div>
        <div class="gp-login box-shadow"><a class="d-flex flex-row align-items-center social-login-link" style="margin-bottom:10px;" href="#"><i class="fa fa-google" style="color:rgb(255,255,255);width:56px;"></i>Login with Google+</a></div>
    </div>
    <div class="d-flex flex-row align-items-center login-box-seperator-container">
        <div class="login-box-seperator"></div>
        <div class="login-box-seperator-text">
            <p style="margin-bottom:0px;padding-left:10px;padding-right:10px;font-weight:400;color:rgb(201,201,201);">or</p>
        </div>
        <div class="login-box-seperator"></div>
    </div>
    <div class="email-login" style="background-color:#ffffff;"><input type="email" class="email-imput form-control" style="margin-top:10px;" required placeholder="Email" minlength="6" /><input type="password" class="password-input form-control" style="margin-top:10px;" required placeholder="Password" minlength="6" /></div>
    <div class="submit-row" style="margin-bottom:8px;padding-top:0px;"><button class="btn btn-primary btn-block box-shadow" id="submit-id-submit" type="submit">Login</button>
        <div class="d-flex justify-content-between">
            <div class="form-check form-check-inline" id="form-check-rememberMe"><input class="form-check-input" type="checkbox" id="formCheck-1" for="remember" style="cursor:pointer;" name="check" /><label class="form-check-label" for="formCheck-1"><span class="label-text">Remember Me</span></label></div><a id="forgot-password-link" href="#">Forgot Password?</a>
        </div>
    </div>
    <div id="login-box-footer" style="padding:10px 20px;padding-bottom:23px;padding-top:18px;">
        <p style="margin-bottom:0px;">Don&#39;t you have an account?<a id="register-link" href="#">Sign Up!</a></p>
    </div>
</div>
      </div>
    </div>
  </div>
</div>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="js/-Fixed-Navbar-start-with-transparency-background-BS4-.js"></script>
    <script src="js/index.js"></script>
</body>

</html>
