.bgimage {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../assets/img/bg_tinder.webp');
}

.text-bg {
  filter: brightness(150%);
}

.fa.fa-registered.r-icon {
  vertical-align: top;
  margin-top: 15px;
}

